body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f1e8; /* Beige claro */
    color: #5e5e5e; /* Gris oscuro */
}

header {
    background-color: #f57f17; /* Naranja oscuro */
    padding: 1em 0;
    text-align: center;
    color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff3e0; /* Amarillo claro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2, h3, p {
    color: #5e5e5e; /* Gris oscuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1em; /* Agrega espacio entre las listas */
}

img {
    width: 90%; /* Hace que las imágenes tengan un ancho del 100% del contenedor */
    max-width: 400px; /* Establece el tamaño máximo */
    height: 70%; /* Mantiene la proporción de la imagen */
    margin: 1em 0; /* Agrega márgenes superior e inferior */
    margin-top: 0.5em;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f57f17; /* Naranja oscuro */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto suave al pasar el mouse */
}

button:hover {
    background-color: #f9a825; /* Naranja más claro */
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #5e5e5e; /* Gris oscuro */
    color: #fff;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 700px) {
    section {
        padding: 1em;
    }

    img {
        width: 80%; /* Hace que las imágenes tengan un ancho del 100% del contenedor */
        max-width: 300px; /* Establece el tamaño máximo */
        height: 60%; /* Mantiene la proporción de la imagen */
        margin: 1em 0; /* Agrega márgenes superior e inferior */
}
}